<div class="menu-container">
  <div class="logo-container">
    <img src="../../../../../assets/imgs/fullLogo.svg" alt="audaces icon" />
  </div>

  <p class="list-title">MENU</p>
  <mat-nav-list>
    <a mat-list-item routerLink="/lab/dashboard" routerLinkActive="active"
      ><span class="list-item">Dashboard</span></a
    >
    <a mat-list-item routerLink="/lab/collections" routerLinkActive="active"
      ><span class="list-item">Coleções</span></a
    >
    <a mat-list-item routerLink="/lab/models" routerLinkActive="active"
      ><span class="list-item">Modelos</span></a
    >
    <a mat-list-item (click)="onHelpClick()"
      ><span class="list-item">Obter ajuda</span></a
    >
    <a mat-list-item (click)="onSendFeedbackClick()"
      ><span class="list-item">Enviar comentários</span></a
    >
  </mat-nav-list>
</div>
