<div class="sign-in-container">
  <div class="icon-container">
    <img src="../../../assets/imgs/audacesIcon.svg" alt="audaces icon" />
  </div>
  <div class="sign-in-form-container">
    <mat-card>
      <mat-card-content>
        <div class="header">
          <h2 class="title">Sign In</h2>
          <p>Insira suas credenciais para acessar sua conta</p>
        </div>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
          <div class="email-input">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Informe o seu e-mail</mat-label>
              <input formControlName="email" matInput required />
              <mat-error
                class="error-message"
                *ngIf="loginForm.get('email')?.errors?.['required']"
              >
                - O e-mail é obrigatório.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="password-input">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Informe sua senha</mat-label>
              <input
                formControlName="password"
                matInput
                [type]="hide ? 'password' : 'text'"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria.pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                class="error-message"
                *ngIf="loginForm.get('password')?.errors?.['required']"
              >
                - A senha é obrigatória.
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="login-button">
            Entrar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="redirect-wrapper">
    <p>
      Esqueceu sua senha? <a routerLink="../forgot-password">Redefinir senha</a>
    </p>
    <p>Ainda não tem uma conta? <a routerLink="#">Cadastre-se</a></p>
  </div>
</div>
