.title {
  color: #2c2c2c;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 2rem;
}

.edit-model-form {
  margin: 2em;
  padding: 4em;
  background-color: #fff;
  border-radius: 10px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.form-actions button {
  margin-right: 2em;
  border-radius: 6px;
  width: 11.25rem;
  height: 3.125rem;
}

input {
  border-radius: 200px !important;
}

.save {
  background-color: #0073cf !important;
}

.cancel {
  background-color: #ebebeb !important;
  color: #a098ae;
}
