.header-menu {
  background-color: #fff;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 4.5rem;
  border-right: 1.75px solid #f0f0f0;
  align-content: center;
}

.alert-icon {
  margin-right: 2.5rem;
}

.toggle-menu {
  margin-right: 2.5rem;
}
