<div class="sign-in-container">
  <div class="icon-container">
    <img src="../../../assets/imgs/audacesIcon.svg" alt="audaces icon" />
  </div>
  <div class="sign-in-form-container">
    <mat-card>
      <mat-card-content>
        <div class="header">
          <button mat-icon-button (click)="onReturnClick()" class="return">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <h2 class="title">Redefinir Senha</h2>
          <p>
            Digite o e-mail associado à sua conta e enviaremos instruções para
            redefinir sua senha.
          </p>
        </div>
        <form
          (ngSubmit)="onSubmit()"
          name="forgotPasswordForm"
          [formGroup]="forgotPasswordForm"
        >
          <div class="email-input">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Informe o seu e-mail</mat-label>
              <input formControlName="email" matInput required />
              <mat-error
                class="error-message"
                *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
              >
                - O e-mail é obrigatório.
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="recovery-button">
            Enviar recuperação
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
